<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <h1 class="center">Edit Department</h1>

      <%= render 'form', department: @department, submit_text: 'Update Department' %>
    </div>
  </div>
</div>
