<h1 class="center">Departments List</h1>

<br />

<% if @departments.empty? %>

  <p class="center">There are currently no departments. </p>

<% else %>

  <table class="table table-bordered table-centered">

    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Edit</th>
    </tr>

    <% @departments.each do |department| %>
      <tr>
        <td style="width: 10%; "><%= department.id %></td>
        <td><%= department.name %></td>
        <td style="width: 10%; "><%= link_to 'Edit', edit_department_path(department), class: 'btn btn-mini' %></td>
      </tr>
    <% end %>

  </table>

<% end %>

<br />

<p class="center">
  <%= link_to 'Create New Department', new_department_path, class: 'btn btn-primary center-block' %>
</p>
