<h1 class="center">WFLS Student Union</h1>

<p>
Welcome! 
</p>

<p>
This is the site created for the Student Union of Wuhan Foreign Languages School to manage its membership profiles and other archives. 
</p>

<p>
Guests are limited to the access of basic membership profiles. If you are the administrator of this site, please use the login button on the top-right corner of this page to log in and access exclusive administration features. 
</p>

<p>
The search field is located at the top-right corner of this page.
</p>
