/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Utility style */

.center {
  text-align: center !important; 
}

.center-block {
  margin: 0 auto; 
}

.debug {
  background-color: red; 
}

.table-centered th, .table-centered td {
  text-align: center !important; 
}

.block {
  display: block; 
}

.inline-block {
  display: inline-block; 
}

/* Universal footer */

.footer {
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5; 
}

.footer p {
  margin-bottom: 0;
  color: #777; 
}

/* Offset the body to avoid collision with the nav bar. */

#flashes-container {
  margin-top: 20px; 
  margin-bottom: 20px;
}

#main-container {
  margin-top: 20px; 
  margin-bottom: 20px; 
  position: relative; 
}

/* Main form styles */

.form-regular input {
  width: 300px !important; 
}

.form-regular textarea {
  width: 300px !important; 
}

.form-regular select {
  width: 315px !important; 
}

/* Debug info styles */

.debug_dump {
  margin-top: 20px; 
}

.unnecessary {
  display: none;
}
