// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#members-show-qrcode {
  width: 200px; 
  height: 200px; 
  position: absolute; 
  top: 0;
  right: 0;
}

#members-show-profile {
  width: 50%;
  margin-top: 25px; 
}
