// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#members-show-qrcode {
  width: 150px; 
  height: 150px; 
  position: absolute; 
  top: 25px;
  right: 25px;
}

#members-show-profile {
  width: 50%;
  margin-top: 25px; 
}

.members-show-shortlog-time {
  font-size: 10px; 
  color: gray;
}

.members-show-shortlog-delete {
  float: right;
  margin-right: 5px;
}

#members-show-shortlogs {
  padding-top: 10px;
}

.members-show-shortlog-none {
  color: gray;
  text-align: center;
  padding-top: 10px;
}