<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <h1 class="center">New Member</h1>

      <%= render 'form', member: @member, submit_text: 'Create Member' %>
    </div>
  </div>
</div>
